body {
    font-family: 'Black Han Sans', sans-serif;
    font-family: 'Gaegu', cursive;
    background-color: #ffffff;
  }
  
  .file-upload {
    margin: 0 auto;
    padding: 5%;
    background-color: #f6f7fa;
    border-radius: 10px;
    border: solid 1.5px #f6f7fa;
    background-color: #f7f7fa;
    width: 914px;
    margin-bottom: 3rem;
  }
  
  .file-upload-content {
    display: none;
    text-align: center;
  }
  
  #loading {
    display: none;
  }

  .file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
  }
  
  .image-upload-wrap {
    width: 100%;
    position: relative;
    object-fit: contain;
    border-radius: 10px;
    border: dashed 1.5px #35465d;
    background-color: #ffffff;
    margin: 0 auto;
  }
  
  .image-dropping,
  .image-upload-wrap:hover {
    background-color: #35465d;
    border: 1.5px dashed #ffffff;
  }
  
  .image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
  }
  
  .drag-text {
    width: 50%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.53;
    text-align: center;
    color: #35465d;
    margin: 0 auto;
  }
  
  .drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: #35465d;
    padding: 60px 0;
  }
  
  .file-upload-image {
    max-height: 60%;
    max-width: 60%;
    margin: auto;
    padding: 20px;
  }
  
  .remove-image {
    width: 200px;
    margin: 0;
    color: #35465d;
    background: transparent;
    border: solid 1px #35465d;
    padding: 10px;
    border-radius: 4px;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 10px;
  }
  
  .remove-image:hover {
    background: #35465d;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .remove-image:active {
    border: 0;
    transition: all .2s ease;
  }

  .nav-distance {
      padding: 2.1% 7.7%;
  }

  .navbar-light .navbar-brand {
      line-height: 1.68;
      text-align: left;
      color: #35465d;
  }

  .navbar-light .navbar-toggler {
      border-color: #ffffff;
  }

  .section {
      margin-top: 50px;
  }

  .title {
      line-height: 1.67;
      text-align: center;
      color: #35465d;
  }

  .subtitle {
      line-height: 1.53;
      text-align: center;
      color: #35465d;
  }

  @media screen and (max-width: 576px) {
      html {
          font-size: 10px;
      }
      .navbar-brand {
          font-size: 2rem;
      }
      .container {
          width: 100%;
      }
  }

  .youtube-link {
      font-size: 1.5rem;
      line-height: 1.71;
      text-align: center;
      color: #f73737;
      text-decoration: underline;
  }

  .youtube-link:hover{
    font-size: 1.5rem;
    line-height: 1.71;
    text-align: center;
    color: #f73737;
    text-decoration: underline;
    }

  .fa-cloud-upload-alt {
      font-size: 5rem;
      color: #35465d;
  }

  .result-lylics {
    font-size: 1.5rem;
    color: #8977ad;
    margin-bottom: 0;
}

  .result-message {
    font-size: 1.5rem;
    font-weight: bold;
    color: #8977ad;
}
  .youtube-player {
    margin-top: 3rem;
}

  .youtube-player iframe {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}